@font-face {
    font-family: 'druk';
    src: url("./assets/fonts/Druk-Family/Druk-Bold-Trial.otf");
    font-style: normal;
}



@font-face {
    font-family: 'gt-walsheim-bold';
    src: url("./assets/font2/GTWalsheimPro-Bold.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'gt-walsheim-medium';
    src: url("./assets/font2/GTWalsheimPro-Regular.ttf");
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: white;
}

body {
    background:url("./assets/images/background.png");
    background-size: cover;
    background-position: center center;
}

.color-txt {
    color: #0673d9;
    position: relative;
    bottom: 15px;
    animation: typeAnimation 1s infinite;
}

#hero {
    min-height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    transition: all .3s ease;
    font-size: 3rem;
    font-family: 'druk';
    font-family: 'gt-walsheim-bold';
    color: #372866;
    letter-spacing: 1px;
    opacity: 0;
    width: 40%;
    animation: entranceAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}



.hero-svg {
    width: 33.333vw;
}

p {
    width: 40%;
    font-weight: lighter;
    font-size: 1.4rem;
    color: #372866;
    font-family: 'gt-walsheim-medium';
    font-weight: 300;
    margin: 2rem 0;
    opacity: 0;
    animation: entranceAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.btn {
    transition: all .3s ease;
    padding: .5rem 2rem;
    outline: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-family: 'gt-walsheim-medium';
    font-weight: 300;
}

.btn-light {
    background: none;
    border: solid 2px #372866;
    color: #372866;
}

.btn-dark {
    background: #372866;
    border: solid 2px #372866;
    color: #fff;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    color: #FF0049;
    text-transform: uppercase;
    opacity: 0;
    animation: entranceAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    margin-bottom: 1rem;
}

button:hover {
    transition: all .3s ease;
    opacity: .5;
    color: #fff;
    background: #372866;
    cursor: pointer;
}


.nav-logo {
    color: #372866;
    font-size: 1.6rem;
    font-family: 'gt-walsheim-bold';
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding:2rem 0;
    align-items: center;
    font-family: 'gt-walsheim-medium';
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
}

h4 {
    color: #372866;
    font-size: .5rem;
    font-weight: bold;
}

.nav__list  {
    transition: all .3s ease;
    color: #372866;;
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    list-style: none;
}

.nav__link {
    transition: all .3s ease;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__list:hover .nav__link {
    transition: all .3s ease;
    opacity: .3;
}


.nav__list  .nav__link:hover {
    transition: all .3s;
    opacity: 1;
    color: #372866;
}


.emphasised-txt {
    transition: all .3s ease;
    font-weight: 400;
    color: #FF0049;
}







@keyframes entranceAnimation{

    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}



@media screen and (max-width: 500px) {

}